
<div id='cover' class='cover'>
  <img src='/images/CARROLL_PRESS_TEXT_SMALL.jpg' alt='' />
</div>


<div class="wrapper">
  <div id='player_box'>	
  	<img id='carroll_text' src="images/text/CARROLL.png" alt="CARROLL">
  	<a href="https://soundcloud.com/carrollmusic-1/sticks" class="sc-player"></a>
  	<div class="fb-like" data-href="http://www.facebook.com/carrollmusic1" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>		
    <div class='social'>
      <a class='whitebox boxsize4' href='https://www.facebook.com/carrollmusic1' target='_blank'>Facebook</a>
      <a class='whitebox boxsize4' href="https://twitter.com/CarrollMPLS" target='_blank'>Twitter</a>
      <a class='whitebox boxsize4' href="https://soundcloud.com/carrollmusic-1" target='_blank'>Soundcloud</a>
      <a class='whitebox boxsize4' href="/videos" target='_blank'> Videos </a>
      <a class='whitebox boxsize4' href="/press" target='_blank'> Press </a>
    </div>
    <div class='nav'>
      <!-- <a class='whitebox boxsize2' href="/pastshows"> past shows </a> -->
  	  <!-- <a class='whitebox boxsize2' href="/bands"> bands we've played with </a> -->
    </div>
  </div>
  <div class='track'>

    <section class="download">
      <h1>DOWNLOAD NEEDS EP</h1>
      <a href="http://carroll.bandcamp.com" target="_blank">Bandcamp</a>
      <a href="https://itunes.apple.com/us/album/needs-ep/id603728653?uo=4" target="itunes_store">Itunes</a>
    </section>

  	<section class='shows panel'>
  	  <h1> Upcoming Shows </h1>
  	  <table>
        <tbody>
          <tr>
            <td>When: </td>
            <td>Where: </td>
            <td>With: </td>
          </tr>	

          <% data.shows.upcoming.each do |f| %>
            <tr>
              <td><%= f.when %></td>
              <td><%= f.where %></td>
              <td><%= f.with %></td>
            </tr>
          <% end %>	    
          
          </tbody>
      	</table> 
  	</section>


	<section class='press panel'>
	 <h1> Press </h1>
    
    <% data.press.words.each do |f| %>
      <div class="press_item">
        <p class="press_words">
          "<%= f.words %>"
        </p>
        <span class="press_who">
          – <%= f.who %>
        </span>
      </div>
    <% end %> 

	</section>
	<section class='contact panel'>
	  <h1> you can contact us at: </h1>
	  <a href='mailto:booking@carrollmusic.net' target='_blank'>booking@carrollmusic.net</a>
	</section>
<!-- END TRACK SECTION -->
</div>
 <div class='hand_wrapper'>
    <img class='plax1' data-stellar-ratio="-0.2"   src="images/hand/hand-piece1.png" >
    <img class='plax2' data-stellar-ratio="-0.3" src="images/hand/hand-piece2.png" >
    <img class='plax3' data-stellar-ratio="-0.4"   src="images/hand/hand-piece3.png" >
    <img class='plax4' data-stellar-ratio="-0.5"   src="images/hand/hand-piece4.png" >
  </div>
  <script src="javascripts/hands2.js" type="text/javascript" charset="utf-8"></script>
</div>
